body {
    background: #0d0f16;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 32px;
    letter-spacing: 1px;
}

.main {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card {
    background: #161a23;
    padding: 20px;
    border-radius: 15px;
    width: 360px;
}

canvas {
    background: black;
    border: 2px solid #444;
    cursor: crosshair;
}

.buttons button {
    width: 120px;
    padding: 10px;
    margin: 10px;
    background: #6366f1;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.buttons button:hover {
    background: #7a7ef7;
}

.big-letter {
    font-size: 60px;
    margin: 10px;
}

#probabilities div {
    background: #242834;
    padding: 6px;
    margin: 5px;
    border-radius: 5px;
}
#nnCanvas {
    background: #111;
    border: 2px solid #444;
    margin-top: 30px;
    border-radius: 10px;
}
